<% wrap_with 'layout' %>
<div class="page" id="cover" style="top: 0px;">
  <div class="grid grid24">
    <a id="page-1"></a>
    <%= render 'section_nav' %>
    <%= render 'mastheads/main' %>
    <%= yield %>
  </div>
</div>
