<div class="col span<%= content_region.column_width %>" style="height: <%= content_region.pixel_height %>px; overflow: hidden;">
  <%= render_content_items content_region %>
  <% if composing? %>
    <input class="add-content-btn" type="button" value="Add Content" data-content-region-id="<%= content_region.id %>"></input>
  <% end -%>
</div>
