<!-- Section Nav -->
<div class="row">
  <div class="col">
    <div class="sections-nav text-center">
      <% edition.sections.each do |section| %>
        <span><%= link_to section.name, section.path %></span>
      <% end %>
      <div class="add-section">&#10010;</div>
    </div>
  </div>
</div>
